.container-signIn {
    display: flex;
}

.left-signIn {
    width: 31.25rem;
    height: 100vh;

    background-image: url('../../assets/img-signIn.png');
    background-repeat: no-repeat;
    background-position: center top 78%;
    background-size: cover;

    text-align: center;
}

.left-signIn div {
    margin: 9.875rem 3.5rem 0 3.5rem;
}

.left-signIn h3 {
    font-weight: 600;
    font-size: var(--title-l);
    font-family: var(--font-title);

    color: var(--green-700);
}

.right-signIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    background-color: var(--gray-100);
}

.right-signIn a {
    font-weight: 600;
    font-size: var(--body-s);

    color: var(--pink-500);
}

.box-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 22.1875rem;
    height: 20.9375rem;

    margin-top: 14.6875rem;
}

.box-login h1 {
    font-weight: 700;
    font-size: var(--title-l);
    font-family: var(--font-title);

    color: var(--gray-800);
}

.box-login form {
    display: flex;
    flex-direction: column;

    width: 21.5rem;
    height: 10rem;
}

.box-login label {
    margin-top: 1.25rem;

    font-weight: 600;
    font-size: var(--body-s);

    color: var(--gray-700);
}

.box-login input {
    margin-top: 0.375rem;

    padding: 0.625rem 0.875rem;
    border-radius: 0.5rem;

    border: 0.0625rem solid var(--gray-300);
}

.box-login input::placeholder {
    font-size: var(--body-r);

    color: var(--gray-500);
}

.recov-passwor {
    position: relative;

    top: -62px;
    left: 220px;
}

.box-login div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: var(--body-s);

    color: var(--gray-700);
}

.box-login button {
    width: 10rem;
    height: 2.0625rem;
    margin-bottom: 0.9375rem;

    border-radius: 0.625rem;
    border: none;

    background-color: var(--pink-500);

    color: var(--gray-100);
    font-size: var(--title-s);
}

.msg-error {
    position: relative;
    top: 1.65rem;

    margin-top: -3.55rem;

    font-size: var(--body-xs);
    color: var(--red-500);
}