.container-signIn {
    display: flex;
}

.left-signIn {
    width: 31.25rem;
    height: 100vh;

    background-image: url('../../assets/img-signIn.png');
    background-repeat: no-repeat;
    background-position: center top 78%;
    background-size: cover;

    text-align: center;
}

.left-signIn div {
    margin: 9.875rem 3.5rem 0 3.5rem;
}

.left-signIn h3 {
    font-weight: 600;
    font-size: var(--title-l);
    font-family: var(--font-title);

    color: var(--green-700);
}

.right-signIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    background-color: var(--gray-100);
}